<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path %>


<% @angular_portfolio_items.each do |p| %>
  <h3><%= link_to p.title, portfolio_show_path(p) %></h3>  
  <p><%= p.subtitle %></p>
  <p><%= p.body %></p>
  <%= image_tag p.thumb_image unless p.thumb_image.nil? %>
  <br />
  <%= link_to "Edit", edit_portfolio_path(p) %>
  <%= link_to "Delete", portfolio_path(p), method: :delete, data: { confirm: "are you sure you want to delete this portfolio item?" } %>
<% end %>